@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: white;
    font-family: Lato, 
    sans-serif;
}

@media screen and (max-width:724px) {
    .right {
        display: none;
    }

    img {
        width: 10%;
    }

    .logo-img{
        width: 60%;
    }

    input{
        width: 200px;
    }

    .search {
        width: 20px;
    }

    html{
        overflow-x:hidden;
    }
}